################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Frontend/Properties
/Backend/.vs
/Backend/obj/Debug/net8.0
/.gitignore
/Backend/Migrations